.nav-side {
	width: 150px;
	height: 450px;
	margin-right: 30px;
	background-color: #fff;
	border: 1px solid #eee;
	box-shadow: 0px 0px 1px #ddd;
	text-align: center;
}

.nav-side .nav-side-item {
	margin: 10px 20px;
	padding: 5px;
	border-bottom: 1px solid #ddd;
	font-size: 14px;
	cursor: pointer;
}

.nav-side .nav-side-item.active i,
.nav-side .nav-side-item.active a{
	color: #8f0404;
}