.header-wrap {
	width: 100%;
	background-color: #fff;
}
.right-link {
	line-height: 60px;
}
.reset-wrap {
	width: 400px;
	margin: 30px auto;
	padding: 10px;
	background-color: #fff;
}

.reset-wrap .reset-con-title {
	padding: 5px;
	font-size: 16px;
	border-bottom: 1px solid #999;
}

.tip-item {
	width: 300px;
	padding-left: 5px; 
	margin-top: 10px;
	display: none;
}

.reset-wrap .reset-con .reset-item {
	padding: 5px;
	margin: 15px 0;
	font-size: 14px;
}

.user-content {
	width: 200px;
	font-size: 13px;
	border: 1px solid #999;
}

.reset-btn {
	display: inline-block;
	width: 200px;
	height: 30px;
	line-height: 30px;
	margin: 10px 5px;
	background-color: #eee;
	text-align: center;
	cursor: pointer;
	transition: background-color 0.5s;
}

.reset-btn:hover {
	background-color: #ddd;
}

.step-question,.step-pw {
	display: none;
}

