
	<div class="info-item">
		<label for="receiver">收货人：</label>
   		<input type="text" id="receiver" maxlength="5" placeholder="请输入收货人姓名">
	</div>
	<div class="info-item">
		<label for="phone">电话：</label>
   		<input type="text" id="phone" placeholder="请输入收货人电话">
	</div>
	<div class="info-item">
		<label for="">所在地区：</label>
		<select id="province" name="province">
		</select> 
		<select id="city" name="city" >
			<option value="0">请选择市/区/县</option>
		</select> 
	</div>
	<div class="info-item">
		<label for="address">详细地址：</label>
   		<textarea id="address" placeholder="请输入收货人详细地址"></textarea>
	</div>


