<nav class="nav-top">
	<div class="w">
		<div class="user-info fl">
			<div class="user not-login">
				<span class="js-login link">登录</span>
				<span class="js-register link">注册</span>
			</div>
			<div class="user login">
				欢迎，
				<span class="user-name"></span>
				<span class="js-logout link">退出</span>
			</div>
		</div>
		<ul class="nav-list fr">
			<li>
				<a href="./cart.html">
					<i class="fa fa-shopping-cart"></i>
					购物车(<span class="cart-count">0</span>)
				</a>
			</li>
			<li>
				<a href="./order-list.html">我的订单</a>
			</li>
			<li>
				<a href="./user-center.html">个人中心</a>
			</li>
			<li>
				<a href="./about.html">关于我们</a>
			</li>
			
		</ul>
	</div>
</nav>