.search {
	width: 360px;
	height: 40px;
	margin: 20px auto;
	border: 1px solid #8F0404;
	font-size: 0;
}

.search input {
	width: 300px;
	height: 38px;
}

.search button {
	width: 58px;
	height: 38px;
	background: #8F0404;
}

.search button:hover {
	background: #760404;
}
