<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title%></title>
</head>
<body>
	<%= require('html-loader!./layout/nav.html')%>
	<header class="w">
		<%= require('html-loader!./layout/logo.html')%>
		<span class="logo-text">关于我们</span>
	</header>
	<section class="page-wrap">
		<%= require ('html-loader!./layout/nav-route.html')%>
		<div class="w">
			<%= require('html-loader!./layout/nav-side.html')%>
			<div class="fr page-content-wrap">
				<p class="page-title">关于我们</p>
				<div class="info-item">
					<img src="<%= require('./../image/logo/logo.png')%>" alt="">
					<p>红木是我国高端、名贵家具用材的统称。红木为热带地区所产，豆科，紫檀属（pterocarpus）的植物。最初是指红色的硬木，品种较多；在上世纪八十年代后，人们对红木的需求日益增加，行业亟待规范，国家根据密度等指标对红木进行了规范，把红木规范为：二科、五属、八类、三十三种。红木因生长缓慢、材质坚硬、生长期都在几百年以上，原产于我国南部的很多红木，早在明、清时期就被砍伐的所剩无几，如今的红木，大多是产于东南亚、非洲，我国广东、云南有培育栽培和引种栽培。当然黄花梨、缅甸花梨、鸡翅木等木材的颜色不会呈红色。木材花纹美观，材质坚硬，耐久，为贵重家具及工艺美术品等用材。红木为热带地区豆科檀属木材，主要产于印度， 我国广东、 云南及南洋群岛也有出产，是常见的名贵硬木。"红木"是江浙及北方流行的名称，广东一带俗称"酸枝木"。
					</p>
				</div>
			</div>
		</div>
	</section>
	<%=require('html-loader!./layout/footer.html')%>
</body>
</html>