<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title%></title>
</head>
<body>	
	<div id="dialog-modal">
	</div>
	<%= require('html-loader!./layout/nav.html')%>
	<header class="w">
		<%= require('html-loader!./layout/logo-search.html')%>
	</header>
	<div id="dialog">
		<div class="dialog-title">
			<span>收货地址</span>
			<i class="fa fa-close fr close-btn"></i>
		</div>
		<div class="tip-item error">
            <i class="fa fa-minus-circle error-icon"></i>
            <span class="err-msg">Error</span>
        </div>
		<div class="dialog-content">
			<%= require('html-loader!./layout/address.html')%>
		</div>
		<div class="dialog-footer">
			<button id="cancel-btn">取消</button>
			<button id="ok-btn">保存</button>
		</div>
	</div>
	<section class="order-wrap">
		<section class="w address">
			<div class="section-title">收货地址</div>
		</section>

		<section class="w pay">
			<div class="section-title">支付方式</div>
			<div class="pay-wrap">
				<div class="pay-item">
					<label for="wechat-pay">
						<img src="/admin_php/image/icon/wechat-pay.png" alt="">
					</label>
					<div class="pay-text">
						<input type="radio" name="pay"  value="微信支付" id="wechat-pay" class="radio" checked>
						<label for="wechat-pay">微信支付</label>
					</div>	
				</div>
				<div class="pay-item">
					<label for="ali-pay">
						<img src="/admin_php/image/icon/ali-pay.png" alt="">
					</label>
					<div class="pay-text">
						<input type="radio" name="pay"  value="支付宝支付" class="radio" id="ali-pay">
						<label for="ali-pay">支付宝支付</label>
					</div>
				</div>
			</div>
		</section>
		<section class="w deliver">
			<div class="section-title">配送方式</div>
			<div class="deliver-item">
				<i class="fa fa-truck"></i>
				<span>自营快递</span>
			</div>
		</section>
		<section class="w order-info">
			<div class="section-title">商品信息</div>
			<ul class="list-title">
				<li class="list-info">商品信息</li>
				<li class="list-price">商品价格</li>
				<li class="list-count">购买数量</li>
				<li class="list-sum">小 计</li>
			</ul>
	
		</section>
		<section class="footer-info w">
			<div class="user-tips fl">
				<p>订单备注</p>
				<textarea name="" id="" cols="40" rows="5" class="input-tips"></textarea>
			</div>
			<ul class="goods-account fr">
				<li class="total-money">
					<span class="list-left">订单总额 :</span>
					<span class="list-right"></span>
				</li>
				<li class="discount">
					<span class="list-left">活动优惠 :</span>
					<span class="list-right">0.00元</span>
				</li>
				<li class="deliver-money">
					<span class="list-left">商品运费 :</span>
					<span class="list-right">0.00元</span>
				</li>
				<li class="infact-money">
					<span class="list-left">应付总额 :</span>
					<span class="list-right pay-money"></span>
				</li>
			</ul>
		</section>
		<section class="footer-btn w">		
			<button class="goback-cart">返回购物车</button>
			<button class="go-pay">确认订单</button>
		</section>
	</section>
	<%=require('html-loader!./layout/footer.html')%>
</body>
</html>