* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #f6f6f6;
	font: 12px/1.5 tahoma,arial,Microsoft YaHei,sans-serif;
	color: #333;
}

li {
	list-style: none;
}

img {
	display: block;
	border: none;
}

input {
	outline: none;
}

label {
	cursor: pointer;
}

a {
	color: #333;
	text-decoration: none;
	transition: all 0.5s;
}

a:hover {
	color: #8F0404;
}

header {
	height: 80px;
}

footer {
	text-align: center;
	padding: 20px;
}
/*定宽布局*/
.w {
	width: 1080px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.link {
	cursor: pointer;
	transition: all 0.5s;
}

.logo img{
	width: 200px;
	height: 80px;
}

.logo-wrap {
	height: 100px;
	padding: 10px 20px;
}

.logo-text {
	display: inline-block;
	height: 60px;
	margin: 10px 0 0 80px;
	padding-left: 20px;
	line-height: 60px;
	font-size: 30px;
	border-left: 1px solid #ddd;
}

.link:hover {
	color: #8F0404;
}

i{
	color:#333;
}

textarea,input {
	border: none;
	outline: none;
	padding: 5px;
	font-size: 14px;
}

button {
	border: none;
	text-align: center;
	cursor: pointer;
	color: #fff;
}

.clearfix::after{
	content:"";
	display:block;
	clear:both;
}

.page-wrap {
	margin: 10px 0;
}

.page-content-wrap {
	width: 900px;
	min-height: 450px;
	padding: 10px;
	border: 1px solid #eee;
	background-color: #fff;
	box-shadow: 0px 0px 1px #ddd;
}

.page-content-wrap .page-title {
	margin: 5px;	
	font-size: 15px;
	font-weight: bold;
	padding:0 0 5px 5px;
	border-bottom: 1px solid #eee;
}

.page-content-wrap .info-item {
	margin: 20px 10px;
	font-size: 14px;
}

.update-btn {
	display: inline-block;
	background-color: #eee;
	margin: 0 10px;
	padding: 5px;
	cursor: pointer;
}

.update-btn:hover {
	background-color: #ddd;
}

.error {
	color: red;
	border: 1px solid red;
	background-color: #FDE9E9;
}

.error  i {
	color: red;
}

.success {
	color: green;
	border: 1px solid green;
	background-color: #D5F9D5;
}

.success i {
	color: green;
}