<footer>
	<div class="w">
		<ul class="links-list clearfix">
			<li>友情链接：</li>
			<li>
				<a href="http://www.taobao.com/" target="_blank">&nbsp;淘宝网</a> | 
			</li>
			<li>
				<a href="http://www.jd.com/" target="_blank">&nbsp;京东商城</a> | 
			</li>
			<li>
				<a href="http://www.328f.com/" target="_blank">&nbsp;红木云</a> | 
			</li>
			<li>
				<a href="http://www.dongzuoyun.com/" target="_blank">&nbsp;东作云</a> | 
			</li>
			<li>
				<a href="http://www.hongmubao.com/" target="_blank">&nbsp;红木宝</a> | 
			</li>
		</ul>
		<div class="footer-info clearfix">
			<p>© 2005-2017 xxx官网_红木家具网上商城 版权所有，并保留所有权利。</p>
			<p>粤ICP备14xxxxxx号   Tel: 400-xxxx-xxx</p>
		</div>
	</div>
</footer>