<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title%></title>
</head>
<body>
	<%= require('html-loader!./layout/nav.html')%>
	<header class="w">
		<%= require('html-loader!./layout/logo-search.html')%>
		<span class="logo-text">个人中心</span>
	</header>
	<section class="page-wrap">
		<%= require ('html-loader!./layout/nav-route.html')%>
		<section class="w preview">
			<div class="img-preview fl">
				<div class="img-wrap">
					<div class="img-show"></div>
					<img src="<%=require('../image/banner/banner1.jpg')%>" alt="" class="active-img">
				</div>
				<ul class="goods-gallery clearfix">
					<li class="icon-item">
						<i class="fa fa-angle-left"></i>
					</li>
					<li class="gallery-item active">
						<img src="<%=require('../image/banner/banner1.jpg')%>" alt="">
					</li>
					<li class="gallery-item">
						<img src="<%=require('../image/banner/banner2.jpg')%>" alt="">
					</li>
					<li class="gallery-item">
						<img src="<%=require('../image/banner/banner3.jpg')%>" alt="">
					</li>
					<li class="icon-item fr">
						<i class="fa fa-angle-right"></i>
					</li>
				</ul>
				<div class="magnifier-wrap">
				</div>
			</div>
			<div class="goods-preview fr">
				<h1 class="goods-name">非洲花梨（刺猬紫檀）宁静致远大床1.8米三件套</h1>
				<div class="goods-details">
					<div class="old-price-wrap">
						<span>市场价：<span class="old-price">152.00</span></span>
					</div>
					<div class="new-price-wrap">
						<span>红木汇价：<strong>142.00</strong></span>
					</div>
					<div class="goods-others">
						<span class="sale-text">已售：<span class="sale-count">0</span></span>&nbsp;&nbsp;|&nbsp;
						<span class="mark-text">用户评论：<span class="mark-count">0</span></span>
					</div>
				</div>
				<form action="">
					<div class="goods-count">
						<span>数量：</span>
						<a class="count-btn reduce-btn" href="javascript:void(0)">-</a>
						<input type="text" class="count-text" value="1">
						<a class="count-btn add-btn" href="javascript:void(0)">+</a>
						<span class="goods-stock">(库存：<span class="stock-count">99</span>)</span>
					</div>
					<div class="goods-fare">
						<span>运费：<span class="fare-text">包邮</span></span>
					</div>
					<div class="goods-seller">
						<span>商家：该商品由&nbsp;<span class="seller-text">红木汇</span>&nbsp;发货，并提供售后服务</span>
					</div>
					<div class="choose-btn-wrap">
						<a class="choose-btn buy-btn" href="javascript:void(0)">立即购买</a>
						<a class="choose-btn cart-btn" href="javascript:void(0)">加入购物车</a>
						<a class="choose-btn love-btn" href="javascript:void(0)"><i class="fa fa-heart-o not-love-i"></i>&nbsp;收藏</a>
					</div>
				</form>
				<ul class="goods-panel">
					<li>服务承诺</li>
					<li>45天退换</li>
					<li>假一赔三</li>
					<li>三年维保</li>
				</ul>
			</div>
		</section>
	</section>
	<%=require('html-loader!./layout/footer.html')%>
</body>
</html