<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title%></title>
</head>
<body>
	<%= require('html-loader!./layout/nav.html')%>
	<header class="w">
		<%= require('html-loader!./layout/logo.html')%>
		<span class="logo-text">我的订单</span>
	</header>
	<section class="page-wrap">
		<%= require ('html-loader!./layout/nav-route.html')%>
		<div class="w">
			<%= require('html-loader!./layout/nav-side.html')%>
			<div class="fr page-content-wrap">
				<p class="page-title">我的订单</p>
				<div class="page-content">
					<table class="order-list-table title-info" cellspacing="0" cellpadding="0">
						<tr>
							<th class="title-cell img-cell">&nbsp;</th>
							<th class="title-cell name-cell" colspan="5">宝贝信息</th>
							<th class="title-cell price-cell">单价</th>
							<th class="title-cell count-cell">数量</th>
							<th class="title-cell total-cell">合计</th>
						</tr>
					</table>
					<table class="order-list-table order-item" cellspacing="0" cellpadding="0"> 
						<tr>
							<th colspan="6">
								<span class="order-info">订单号：14151454214</span>
								<span class="order-info">2017-12-27 16:30:23</span>
								<span class="order-info">收货人：123</span>
								<span class="order-info">订单状态：未支付</span>
								<span class="order-info">订单价格：￥144</span>
								<span class="order-info"><a href="./order-details.html">订单详情>></a></span>
							</th>
						</tr>
						<tr>
							<td class="order-cell img-cell">
								<img src="<%= require('../image/banner/banner1.jpg')%>" alt="">
							</td>
							<td class="order-cell name-cell">
								<a href="">红木红木红木</a>
							</td>
							<td class="order-cell price-cell">￥144</td>
							<td class="order-cell count-cell">1</td>
							<td class="order-cell total-cell">￥144</td>
						</tr>
						<tr>
							<td class="order-cell img-cell">
								<img src="<%= require('../image/banner/banner1.jpg')%>" alt="">
							</td>
							<td class="order-cell name-cell">
								<a href="">非洲花梨（刺猬紫檀）锦瑟年华三组电视柜三件套</a>
							</td>
							<td class="order-cell price-cell">￥144</td>
							<td class="order-cell count-cell">1</td>
							<td class="order-cell total-cell">￥144</td>
						</tr>
					</table>
				</div>	
			</div>
		</div>
	</section>
	<%=require('html-loader!./layout/footer.html')%>
</body>
</html>